<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta nmae="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>online shopping</title>
  <link rel="stylesheet" href="../new.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"/>
</head>
<body>

  <div class="container">
    <div class="navbar">
      <div class="logo">
        <a href="../new.html"><img src="../images/logo.png" width="225px"></a>
      </div>
      <nav>
        <ul id="MenuItems">
       <li><a href="../new.html">Home</a></li>
       <li><a href="product.html">product</a></li>
       <li><a href="#">About</a></li>
       <li><a href="#">Contact</a></li>
       <li><a href="account.html">Account</a></li>
       <li>
        <a href="cartpage.html" id="btn">
          <i class="fas fa-shopping-cart"></i>
        </a>
      </li>
      <span id="count"></span>
    
        </ul>
      </nav>
    
      <img src="../images/menu.png" class="menu-icon" onclick="menutoggle()">
    </div>
    <a href="../admin_area/upload_image/"></a>
  </div>

   <!--Single product details  -->
   <div class="small-container single-product">
    <div class="row">
      <div class="col-2">
        <img src="../images/gallery-1.jpg" width="100%" id="productimg">
         <div class="small-img-row">
          <div class="small-img-col">
            <img src="../images/gallery-1.jpg" width="100%" class="small-img">
          </div>
          <div class="small-img-col">
            <img src="../images/gallery-2.jpg" width="100%" class="small-img">
          </div>
          <div class="small-img-col">
            <img src="../images/gallery-3.jpg" width="100%"  class="small-img">
          </div>
          <div class="small-img-col">
            <img src="../images/gallery-4.jpg" width="100%"  class="small-img">
          </div>
         </div>

      </div>
      <div class="col-2">
      <p>home/T-shirt</p>
      <h1>Red Printd </h1>
      <h4>Rs1000</h4>
      <select >
        <option>Select Size</option>
        <option>XXL</option>
        <option>XL</option>
        <option>L</option>
        <option>M</option>
        <option>S</option>
      </select>
      <input type="number" value="1">
      <a href="" class="btn">Add To Cart</a>
       <h3>Product Details <i class="fas fa-indent"></i></h3>
       <br>
       <p>The PUMA Official Save The Whales T Shirt shows the world you love whales. This navy red t shirt
         sports a black logo.</p>
      </div>
    </div>
   </div>

 <!-- Tittle -->
   <div class="small-container">
    <div class="row row-2">
      <h2>Related  Products</h2>
      <p>View More</p>
    </div>
  </div>
  <!-- products -->
  <div class="samller-container">

  <div class="row">
    <div class="col-4">
     <img src="../images/product-1.jpg" alt="">
     <h4>Red Printed T-shirt</h4>
     <div class="rating">
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fa fa-star-o"></i>
     </div>
     <p>Rs 1000.00</p>
    </div>

    <div class="col-4">
      <img src="../images/product-2.jpg" alt="">
      <h4>Red Printed T-shirt</h4>
      <div class="rating">
       <i class="fas fa-star"></i>
       <i class="fas fa-star"></i>
       <i class="fas fa-star"></i>
       <i class="fas fa-star"></i>
       <i class="fa fa-star-o"></i>
      </div>
      <p>Rs 1000.00</p>
    </div>
    
    <div class="col-4">
      <img src="../images/product-3.jpg" alt="">
      <h4>Red Printed T-shirt</h4>
      <div class="rating">
       <i class="fas fa-star"></i>
       <i class="fas fa-star"></i>
       <i class="fas fa-star"></i>
       <i class="fas fa-star"></i>
       <i class="fa fa-star-o"></i>
      </div>
      <p>Rs 1000.00</p>
     </div>
     <div class="col-4">
      <img src="../images/product-4.jpg" alt="">
      <h4>Red Printed T-shirt</h4>
      <div class="rating">
       <i class="fas fa-star"></i>
       <i class="fas fa-star"></i>
       <i class="fas fa-star"></i>
       <i class="fas fa-star"></i>
       <i class="fa fa-star-o"></i>
      </div>
      <p>Rs 1000.00</p>
     </div>
     
  
  </div>
</div>
        <script src="../jsfolder/togglemenu.js"></script>
        <script src="../jsfolder/imageclick_change.js"></script>
</body>
</html>
<a href="../components/userdashboard.php"></a>
<a href="../jsfolder/addto _cart.js"></a>