@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

:root{
   --green:#27ae60;
   --black:#333;
   --white:#fff;
   --orange:rgb(160, 119, 42);
   --blue:rgb(110, 110, 216);
   --bg-color:#eee;
   --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
   --border:.1rem solid var(--black);
}

*{
   font-family: 'Poppins', sans-serif;
   margin:0; padding:0;
   box-sizing: border-box;
   outline: none; border:none;
   text-decoration: none;
   text-transform: capitalize;
   
}
   
html{
  font-size: 62.5%;
  overflow-x:hidden;
}
.container{
  max-width: 1200px;
  margin: 0 auto;

}

section{
  padding: 2rem;
}

.btn,
.optio-btn,
.delete-btn{
  display: block;
  width: 100%;
  text-align: center;
  background-color: var(--blue);
  color:var(--white);
  font-size: 1.7rem;
  padding: 1.2rem 3rem;
  border-radius: .5rem;
  cursor: pointer;
  margin-top: 1rem;

}

.optio-btn{
  background-color: var(--orange);
}
.delete-btn{
  margin-top: 0;
  background-color: var(--green);
}
.header{
  background-color: var(--blue);
  position: sticky;
  top: 0;
  padding: 12px;
  left: 0;
  z-index: 1000;
}
.btn:hover,
.optio-btn:hover,
.delete-btn:hover{
  background-color: var(--black );
}

 .add_product-form{
  max-width: 50rem;
  background-color: var(--bg-color);
  border-radius: .5rem;
  padding: 2rem;
  margin: 0 auto;
  margin-top: 2rem;
 }

 .add_product-form > h3 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color:var(--black);
  text-transform: uppercase;
  text-align: center;
 } 
 .add_product-form .box{
  text-transform: none;
  padding: 1.2rem 1.4rem;
  font-size: 1.7rem;
  color: var(--black);
  border-radius: .5rem;
  background-color: var(--white);
  margin: 1rem 0;
  width: 100%;
 }
 